nav {
    display: inline-block;
    vertical-align: top;
}
ul {
    width: 50%;
    margin-left: auto;
}
heroimg {
    height: 600px;
    padding: 25px;
}
::content {
    width: 500px;
    margin: 0 auto;
}